
@{
    ViewBag.Title = "Index";
}

<h2>Solve your Encrypted Quote</h2>

<div><span>Encrypted Quote goes here:</span></div>
<div><textarea style="width:500px;height:500px"></textarea></div>
<div><button>Solve it!</button></div>

